/*-- scss:defaults --*/

/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* css styles */

/* color stuff*/

  $primary-color: #0F2282;
  $background-color: #FFFDF8;
  
  $accent-color1: #4661EA;
  $accent-color2: #D81159;
  $accent-color3: #00abe7;
  $accent-color4: #fe5d26;
  $accent-color5: #F6AE2D;

/*-- scss:rules --*/

/* blanket settings */

body {
  font-family: 'Crimson Pro', serif;
  background-color: $background-color;
  color: $primary-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Serif 4', serif;
  color: $primary-color;
}

/* navbar */

.navbar {
  background-color: $background-color;
}

.navbar * {
    
    color: $primary-color;
    transition-duration: 0.2s;
    
    &:hover{
    color: $accent-color1;
    }
    
    &:active{
    color: $accent-color1;
    }
}
