/*-- scss:defaults --*/

// Font import

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

// Color definition

  $primary-color: #0d1d70;
  $background-color: #FFFDF8;
  
  $accent-color1: #4661EA;
  $accent-color2: #D81159;
  $accent-color3: #00abe7;
  $accent-color4: #fe5d26;
  $accent-color5: #F6AE2D;
  
// Font size definition

  $navbar: 24px;
  $navfont: 'Crimson Pro';
  $footer: 16px;

/*-- scss:rules --*/

// Font and general theme settings

p {
  font-family: 'Crimson Pro', serif;
  color: $primary-color;
}

body{
  background-color: $background-color;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Serif 4', serif;
  color: $primary-color;
}

// Navigation bar settings

.navbar {
  background-color: $background-color;
}

.navbar * {
    
    color: $primary-color;
    transition-duration: 0.2s;
    
    &:hover{
    color: $accent-color1;
    }
    
    &:active{
    color: $accent-color1;
    }
}

.navbar-brand {
  font-family: $navfont, serif;
  font-size: $navbar;
}

.navbar-nav .nav-link {
  font-family: $navfont, serif;
  font-size: $navbar;
}

nav#TOC.toc-active {
  font-family: $navfont, serif;
  color: $primary-color;
}

// Footer

.nav-footer {
  background-color: $primary-color;
  & p{
    color: $background-color;
    font-size: $footer;
  }
}

